.idea/
.github/

storage/*.key

# Ignore all files in directory
public/*

# Except this files
!public/.htaccess
!public/index.php
!public/robots.txt
!public/favicon.ico
!public/web.config

/node_modules
/vendor

.env
.env.backup
.env
.editorconfig

.phpunit.result.cache
.styleci.yml

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
