// Import component styling
@import "~@fullcalendar/core/main.min";
@import "~@fullcalendar/daygrid/main.min";
@import "~@fullcalendar/timegrid/main.min";

.calendar {
  &-pl-custom {
    padding-left: 1px;
    padding-right: 0;
  }
}

// Print-Page

@media print {

  header nav, footer {
    display: none;
  }

  .btn {
    display: none;
  }

  .fc {
    display: none;
  }

  //a[href]:after {
  //  content: none !important;
  //}

  //a[href]::after {
  //    //  content: " (" attr(href) ")"
  //    //}

  //a[href]:after {
  //  display: none;
  //}


  //placeholder {
  //  display: none;
  //}


  //body {
  //  font: 12pt Georgia, "Times New Roman", Times, serif;
  //  line-height: 1.3;
  //}


  //p a[href^="#"]:after {
  //  display: none;
  //}

}
